
.icon-location:before { content: '\e801'; } /* '' */
.icon-phone-1:before { content: '\e803'; } /* '' */
.icon-mail-1:before { content: '\e804'; } /* '' */
.icon-facebook-squared-1:before { content: '\f308'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
